.inputBar{
  position: absolute;
  color: white;
  max-height: 5em;
  padding: 0.5em;
  bottom: 5%;
  left: 0;
  right: 0;
  width: 90%;
  background-color: #3f3e3c;
  border-radius: 5px;
  resize: none;
  margin: auto;
}