.inputBar {
  resize: none;

  box-sizing: border-box;
  border-radius: 5px;

  color: white;
  background-color: #3f3e3c;
  width: 100%;

  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  max-height: 5em;
  padding: 0.5em;

}