.message {
  color: white;
  background-color: #2f2f2f;
  border-radius: 5px;
  margin: 0;
  margin-right: 0.5em;
  box-sizing: border-box;

  padding-left: 0.8em;
  padding-right: 0.8em;

  padding-top: 0.4em;
  padding-bottom: 0.4em;

  max-width: 100%;
  overflow: scroll;
  line-height: 1.5em;
  white-space: pre-wrap;

  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

.message > p {
  margin: 0;
}

 a {
  color: #00aaff;
}

.container {
  margin-bottom: 0.8em;
  display: flex;
  max-width: 100%;
}

.botMessage {
  justify-content: flex-start;
}

.userMessage {
  justify-content: flex-end;
}

.userMessage > .message {
  background-color: #007bff;
}